allow flags_health_check aac_drc_prop:file { open getattr };
allow flags_health_check lowpan_prop:file { open getattr map };
allow flags_health_check lpdumpd_prop:file { open getattr map };
allow flags_health_check mock_ota_prop:file { open getattr map };
allow flags_health_check vendor_cgroup_follow_prop:file { open getattr map };
allow flags_health_check vendor_crash_detect_prop:file { open getattr map };
allow flags_health_check vendor_ctl_netmgrd_prop:file { open getattr map };
allow flags_health_check vendor_ctl_port-bridge_prop:file { open getattr map };
allow flags_health_check vendor_ctl_qcrild_prop:file { open getattr map };
allow flags_health_check vendor_ctl_qmuxd_prop:file { open getattr map };
allow flags_health_check vendor_ctl_rild_prop:file { open getattr map };
allow flags_health_check vendor_ctl_vendor_hbtp_prop:file { open getattr map };
allow flags_health_check vendor_ctl_vendor_imsrcsservice_prop:file { open getattr map };
allow flags_health_check vendor_ctl_vendor_mmid_prop:file { open getattr map };
allow flags_health_check vendor_ctl_vendor_rmt_storage_prop:file { open getattr map };
allow flags_health_check vendor_ctl_vendor_wigigsvc_prop:file { open getattr map };
allow flags_health_check vendor_data_ko_prop:file { open getattr map };
allow flags_health_check vendor_data_qmipriod_prop:file { open getattr map };
allow flags_health_check vendor_data_shsusr_prop:file { open getattr map };
allow flags_health_check vendor_dataadpl_prop:file { open getattr map };
allow flags_health_check vendor_dataqdp_prop:file { open getattr map };
allow flags_health_check vendor_dataqti_prop:file { open getattr map };
allow flags_health_check vendor_dbg_brkpoint_prop:file { open getattr map };
allow flags_health_check vendor_dcvs_prop:file { open getattr map };
allow flags_health_check vendor_default_prop:file { open getattr map };
allow flags_health_check vendor_disable_spu_prop:file { open getattr map };
allow flags_health_check vendor_display_notch_prop:file { open getattr map };
allow flags_health_check vendor_display_prop:file { open getattr map };
allow flags_health_check vendor_fastcharge_prop:file { open getattr map };
allow flags_health_check vendor_gpu_prop:file { open getattr map };
allow flags_health_check lower_kptr_restrict_prop:file { open getattr map };
allow flags_health_check logpersistd_logging_prop:file { open getattr map };
allow flags_health_check llkd_prop:file { open getattr map };
allow flags_health_check keystore_listen_prop:file { open getattr map };
allow flags_health_check keystore_crash_prop:file { open getattr map };
allow flags_health_check keyguard_config_prop:file { open getattr map };
allow flags_health_check init_svc_debug_prop:file { open getattr map };
allow flags_health_check init_perf_lsm_hooks_prop:file { open getattr map };
allow flags_health_check incremental_prop:file { open getattr map };
allow flags_health_check hypervisor_prop:file { open getattr map };
allow flags_health_check hwservicemanager_prop:file { open getattr map };
allow flags_health_check hal_dumpstate_config_prop:file { open getattr map };
allow flags_health_check gsid_prop:file { open getattr map };
allow flags_health_check framework_watchdog_config_prop:file { open getattr map };
allow flags_health_check boottime_prop:file { open getattr map };
allow flags_health_check bootloader_boot_reason_prop:file { open getattr map };
allow flags_health_check bootanim_system_prop:file { open getattr map };
allow flags_health_check bootanim_config_prop:file { open getattr map };
allow flags_health_check bluetooth_prop:file { open getattr map };
allow flags_health_check bluetooth_audio_hal_prop:file { open getattr map };
allow flags_health_check bluetooth_a2dp_offload_prop:file { open getattr map };
allow flags_health_check audio_config_prop:file { open getattr map };
allow flags_health_check apk_verity_prop:file { open getattr map };
allow flags_health_check apexd_prop:file { open getattr map };
allow flags_health_check apexd_config_prop:file { open getattr map };
allow flags_health_check adbd_prop:file { open getattr map };
allow flags_health_check ab_update_gki_prop:file { open getattr map };
allow flags_health_check adbd_config_prop:file { open getattr map };
allow flags_health_check ctl_adbd_prop:file { open getattr map };
