allow flags_health_check aac_drc_prop:file { getattr map open };
allow flags_health_check ab_update_gki_prop:file { getattr map open };
allow flags_health_check adaptive_haptics_prop:file { getattr map open };
allow flags_health_check adbd_config_prop:file { getattr map open };
allow flags_health_check adbd_prop:file { getattr map open };
allow flags_health_check apexd_config_prop:file { getattr open };
allow flags_health_check apk_verity_prop:file { getattr open };
allow flags_health_check bluetooth_a2dp_offload_prop:file { getattr map open };
allow flags_health_check bluetooth_audio_hal_prop:file { getattr  open };
allow flags_health_check bluetooth_prop:file { getattr open };
allow flags_health_check bootanim_config_prop:file { getattr open map };
allow flags_health_check bootanim_system_prop:file { getattr open map };
allow flags_health_check bootloader_boot_reason_prop:file { getattr open map };
allow flags_health_check boottime_prop:file { getattr open map };
allow flags_health_check boottime_public_prop:file { getattr open map };
allow flags_health_check bpf_progs_loaded_prop:file { getattr open map };
allow flags_health_check build_bootimage_prop:file { getattr open map };
allow flags_health_check build_config_prop:file { getattr open map };
allow flags_health_check camera2_extensions_prop:file { getattr open map };
allow flags_health_check camera_calibration_prop:file { getattr open map };
allow flags_health_check camerax_extensions_prop:file { getattr open map };
allow flags_health_check charger_config_prop:file { getattr open map };
allow flags_health_check charger_prop:file { getattr open map };
allow flags_health_check charger_status_prop:file { getattr open map };
allow flags_health_check codec2_config_prop:file { getattr open map };
allow flags_health_check cold_boot_done_prop:file { getattr open map };
allow flags_health_check cpu_variant_prop:file { getattr open map };
allow flags_health_check ctl_adbd_prop:file { getattr open map };
allow flags_health_check ctl_apexd_prop:file { getattr open map };
allow flags_health_check ctl_bootanim_prop:file { getattr open map };
allow flags_health_check ctl_bugreport_prop:file { getattr open map };
allow flags_health_check ctl_console_prop:file { getattr open map };
allow flags_health_check ctl_default_prop:file { getattr open map };
allow flags_health_check ctl_dpmd_prop:file { getattr open map };
allow flags_health_check ctl_dumpstate_prop:file { getattr open map };
allow flags_health_check ctl_fuse_prop:file { getattr open map };
allow flags_health_check ctl_gsid_prop:file { getattr open map };
allow flags_health_check ctl_interface_restart_prop:file { getattr open map };
allow flags_health_check ctl_interface_start_prop:file { getattr open map };
allow flags_health_check ctl_interface_stop_prop:file { getattr open map };
allow flags_health_check ctl_mdnsd_prop:file { getattr open map };
allow flags_health_check ctl_mediatranscoding_prop:file { getattr open map };
allow flags_health_check ctl_odsign_prop:file { getattr open map };
allow flags_health_check ctl_restart_prop:file { getattr open map };
allow flags_health_check ctl_rildaemon_prop:file { getattr open map };
allow flags_health_check ctl_sigstop_prop:file { getattr open map };
allow flags_health_check ctl_snapuserd_prop:file { getattr open map };
allow flags_health_check ctl_start_prop:file { getattr open map };
allow flags_health_check ctl_stop_prop:file { getattr open map };
allow flags_health_check ctl_tcmd_prop:file { getattr open map };
allow flags_health_check dck_prop:file { getattr open map };
allow flags_health_check debugfs_restriction_prop:file { getattr open map };
allow flags_health_check device_logging_prop:file { getattr open map };
allow flags_health_check dmesgd_start_prop:file { getattr open map };
allow flags_health_check drm_service_config_prop:file { getattr open map };
allow flags_health_check dumpstate_options_prop:file { getattr open map };
allow flags_health_check dynamic_system_prop:file { getattr open map };
allow flags_health_check exported_bluetooth_prop:file { getattr open map };
allow flags_health_check exported_overlay_prop:file { getattr open map };
allow flags_health_check fastbootd_protocol_prop:file { getattr open map };
allow flags_health_check ffs_control_prop:file { getattr open map };
allow flags_health_check firstboot_prop:file { getattr open map };
allow flags_health_check framework_watchdog_config_prop:file { getattr open map };
allow flags_health_check gesture_prop:file { getattr open map };
allow flags_health_check gsid_prop:file { getattr open map };
allow flags_health_check hal_dumpstate_config_prop:file { getattr open map };
allow flags_health_check heapprofd_enabled_prop:file { getattr open map };
allow flags_health_check hwservicemanager_prop:file { getattr open map };
allow flags_health_check hypervisor_prop:file { getattr open map };
allow flags_health_check incremental_prop:file { getattr open map };